* {
	box-sizing: border-box;
}
body, input {
	font-size: 20px;
	line-height: 1.3;
	font-family: sans-serif;
	background-color: #fff;
	color: #000;
}
a {
	color: blue;
}

ul.list li {
	margin-bottom: 5px;
}
ul.list img {
	float: left;
	border: solid 1px black;
	margin-right: .25em;
}

.rating {
	font-weight: bold;
	color: red;
}
.rating.rated {
	color: green;
}

@media (prefers-color-scheme: dark) {
	body, input {
		background-color: #000;
		color: #aaa;
	}
	a {
		color: lightblue;
	}
	button {
		background-color: #666;
		color: #fff;
	}
}
