body, input {
	font-family: sans-serif;
	background-color: #fff;
	color: #000;
}
a {
	color: blue;
}

.rating {
	font-weight: bold;
	color: red;
}
.rating.rated {
	color: green;
}

@media (prefers-color-scheme: dark) {
	body, input {
		background-color: #000;
		color: #aaa;
	}
	a {
		color: lightblue;
	}
	button {
		background-color: #666;
		color: #fff;
	}
}
